<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  	<display-name>vendingMachine</display-name>
  	<welcome-file-list>
    	<welcome-file>login.jsp</welcome-file>
  	</welcome-file-list>

	<!-- servlet -->
	<!-- controller.servlet.backend -->
	<servlet>
		<servlet-name>bglSearchServlet</servlet-name>
		<servlet-class>controller.servlet.backend.BGLSearchServlet</servlet-class>
	</servlet>
	
	<!-- controller.servlet.backend.go -->
	<servlet>
		<servlet-name>goBackendGoodsCreateServlet</servlet-name>
		<servlet-class>controller.servlet.backend.go.GoBackendGoodsCreateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goBackendGoodsListServlet</servlet-name>
		<servlet-class>controller.servlet.backend.go.GoBackendGoodsListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goBackendGoodsUpdateServlet</servlet-name>
		<servlet-class>controller.servlet.backend.go.GoBackendGoodsUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goBackendGoodsSaleServlet</servlet-name>
		<servlet-class>controller.servlet.backend.go.GoBackendGoodsSaleServlet</servlet-class>
	</servlet>
	
	<!-- controller.servlet.frontend.go -->
	<servlet>
		<servlet-name>goFrontendServlet</servlet-name>
		<servlet-class>controller.servlet.frontend.go.GoFrontendServlet</servlet-class>
	</servlet>
  	
  	
	<!-- servlet mapping -->
	<!-- controller.servlet.backend -->
	<servlet-mapping>
		<servlet-name>bglSearchServlet</servlet-name>
		<url-pattern>/machine/backend/goodsList/search</url-pattern>
	</servlet-mapping>
	
	<!-- controller.servlet.backend.go -->
	<servlet-mapping>
		<servlet-name>goBackendGoodsCreateServlet</servlet-name>
		<url-pattern>/machine/backend/goodsCreate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goBackendGoodsListServlet</servlet-name>
		<url-pattern>/machine/backend/goodsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goBackendGoodsUpdateServlet</servlet-name>
		<url-pattern>/machine/backend/goodsUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goBackendGoodsSaleServlet</servlet-name>
		<url-pattern>/machine/backend/goodsSale</url-pattern>
	</servlet-mapping>
	
	<!-- controller.servlet.frontend.go -->
  	<servlet-mapping>
		<servlet-name>goFrontendServlet</servlet-name>
		<url-pattern>/machine</url-pattern>
	</servlet-mapping>
	
  	
  	
  	<!-- listener -->
  	<listener>
  		<listener-class>memory.repository.backend.goodsList.goodsTablePages.GoodsTablePagesSessionListener</listener-class>
  	</listener>
</web-app>