<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  	<display-name>vendingMachine</display-name>
  	<welcome-file-list>
    	<welcome-file>login.jsp</welcome-file>
  	</welcome-file-list>


  	<!-- parameter -->
  	<context-param>
  		<param-name>imagesDirectorySymbolicLinkName</param-name>
  		<param-value>images_symbolicLink</param-value>
  	</context-param>
  	
  	
	<!-- servlet -->
	<!-- controller.servlet.backend.go -->
	<servlet>
		<servlet-name>goBackendGoodsCreateServlet</servlet-name>
		<servlet-class>controller.servlet.backend.go.GoBackendGoodsCreateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goBackendGoodsListServlet</servlet-name>
		<servlet-class>controller.servlet.backend.go.GoBackendGoodsListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goBackendGoodsUpdateServlet</servlet-name>
		<servlet-class>controller.servlet.backend.go.GoBackendGoodsUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goBackendOrderListServlet</servlet-name>
		<servlet-class>controller.servlet.backend.go.GoBackendOrderListServlet</servlet-class>
	</servlet>
	<!-- controller.servlet.frontend.go -->
	<servlet>
		<servlet-name>goFrontendServlet</servlet-name>
		<servlet-class>controller.servlet.frontend.go.GoFrontendServlet</servlet-class>
	</servlet>
	<!-- controller.servlet.backend.goodsList -->
	<servlet>
		<servlet-name>goodsListSearchServlet</servlet-name>
		<servlet-class>controller.servlet.backend.goodsList.SearchServlet</servlet-class>
	</servlet>
	<!-- controller.servlet.backend.orderList -->
	<servlet>
		<servlet-name>orderListSearchServlet</servlet-name>
		<servlet-class>controller.servlet.backend.orderList.SearchServlet</servlet-class>
	</servlet>
	<!-- controller.servlet.frontend -->
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>controller.servlet.frontend.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addShoppingCartServlet</servlet-name>
		<servlet-class>controller.servlet.frontend.AddShoppingCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>clearShoppingCartServlet</servlet-name>
		<servlet-class>controller.servlet.frontend.ClearShoppingCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateShoppingCartServlet</servlet-name>
		<servlet-class>controller.servlet.frontend.UpdateShoppingCartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>checkoutServlet</servlet-name>
		<servlet-class>controller.servlet.frontend.CheckoutServlet</servlet-class>
	</servlet>
	<!-- controller.servlet.backend.goodsUpdate.ajax -->
	<servlet>
		<servlet-name>goodsUpdateUpdateServlet</servlet-name>
		<servlet-class>controller.servlet.backend.goodsUpdate.ajax.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>changeGoodsServlet</servlet-name>
		<servlet-class>controller.servlet.backend.goodsUpdate.ajax.ChangeGoodsServlet</servlet-class>
	</servlet>
	<!-- controller.servlet.backend.goodsCreate.ajax -->
	<servlet>
		<servlet-name>createServlet</servlet-name>
		<servlet-class>controller.servlet.backend.goodsCreate.ajax.CreateServlet</servlet-class>
	</servlet>
	<!-- controller.servlet.frontend -->
	<servlet>
		<servlet-name>goBackendAjaxServlet</servlet-name>
		<servlet-class>controller.servlet.frontend.ajax.GoBackendAjaxServlet</servlet-class>
	</servlet>


  	
  	
  	
	<!-- servlet mapping -->
	<!-- controller.servlet.backend.go -->
	<servlet-mapping>
		<servlet-name>goBackendGoodsCreateServlet</servlet-name>
		<url-pattern>/machine/backend/goodsCreate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goBackendGoodsListServlet</servlet-name>
		<url-pattern>/machine/backend/goodsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goBackendGoodsUpdateServlet</servlet-name>
		<url-pattern>/machine/backend/goodsUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goBackendOrderListServlet</servlet-name>
		<url-pattern>/machine/backend/orderList</url-pattern>
	</servlet-mapping>
	<!-- controller.servlet.frontend.go -->
  	<servlet-mapping>
		<servlet-name>goFrontendServlet</servlet-name>
		<url-pattern>/machine</url-pattern>
	</servlet-mapping>
	<!-- controller.servlet.backend.goodsList -->
	<servlet-mapping>
		<servlet-name>goodsListSearchServlet</servlet-name>
		<url-pattern>/machine/backend/goodsList/search</url-pattern>
	</servlet-mapping>
	<!-- controller.servlet.backend.orderList -->
	<servlet-mapping>
		<servlet-name>orderListSearchServlet</servlet-name>
		<url-pattern>/machine/backend/orderList/search</url-pattern>
	</servlet-mapping>
	<!-- controller.servlet.frontend -->
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/machine/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addShoppingCartServlet</servlet-name>
		<url-pattern>/machine/addShoppingCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>clearShoppingCartServlet</servlet-name>
		<url-pattern>/machine/clearShoppingCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateShoppingCartServlet</servlet-name>
		<url-pattern>/machine/updateShoppingCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkoutServlet</servlet-name>
		<url-pattern>/machine/checkout</url-pattern>
	</servlet-mapping>
	<!-- controller.servlet.backend.goodsUpdate.ajax -->
	<servlet-mapping>
		<servlet-name>goodsUpdateUpdateServlet</servlet-name>
		<url-pattern>/machine/backend/goodsUpdate/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeGoodsServlet</servlet-name>
		<url-pattern>/machine/backend/goodsUpdate/change</url-pattern>
	</servlet-mapping>
	<!-- controller.servlet.backend.goodsCreate.ajax -->
	<servlet-mapping>
		<servlet-name>createServlet</servlet-name>
		<url-pattern>/machine/backend/goodsCreate/create</url-pattern>
	</servlet-mapping>
	<!-- controller.servlet.frontend -->
	<servlet-mapping>
		<servlet-name>goBackendAjaxServlet</servlet-name>
		<url-pattern>/machine/goBackendAjax</url-pattern>
	</servlet-mapping>

  	
  	
  	
  	<!-- listener -->
  	<listener>
  		<listener-class>listener.context.ParameterContextListener</listener-class>
  	</listener>
  	<listener>
  		<listener-class>listener.context.MemoryDAOKitVMContextListener</listener-class>
  	</listener>

  	
  	
  	
  	<!-- filter -->
  	<filter>
  		<filter-name>contentTypeFilter</filter-name>
  		<filter-class>filter.ContentTypeFilter</filter-class>
  	</filter>
  	
  	<!-- filter mapping -->
  	<filter-mapping>
  		<filter-name>contentTypeFilter</filter-name>
  		<url-pattern>/machine/*</url-pattern>
  	</filter-mapping>
  	
  	
  	

</web-app>